[Desktop Entry]
Type=Application
Name=FORDLINK
Comment=Ford vehicle diagnostics
Exec=fordlink
Icon=fordlink
Terminal=false
Categories=Utility;
Keywords=Ford;OBD;diagnostics;vehicle;
